:root {
  --primaryColor: #7510ff;
  --secondaryColor: #000;
  --tertiaryColor: #7db397;
  --altPrimaryColor: #266894;
  --altSecondaryColor: #fff;
  --altTertiaryColor: #e07a5f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

section {
  text-align: center;
  padding: 25px;
}

section h2 {
  color: var(--secondaryColor);
  padding: 20px;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 1px 2px 8px black;
}

/* Start Header */
header {
  background-color: var(--secondaryColor);
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header a {
  text-decoration: none;
  color: var(--altSecondaryColor);
  font-weight: bold;
  font-size: 20px;
}

header h1 {
  display: flex;
  flex-wrap: wrap;
}

header ul {
  display: flex;
}

header li {
  list-style: none;
  margin: 0 10px;
}

header span {
  color: var(--primaryColor);
  font-style: italic;
  font-size: 35px;
}
/* end Header */

/* Start Footer */
footer {
  background-color: var(--secondaryColor);
  color: var(--altSecondaryColor);
  display: flex;
  justify-content: space-between;
  text-align: flex-start;
  padding: 15px 25px;
  display: flex;
  flex-wrap: wrap;
  z-index: 9999;
}

footer a {
  color: var(--altSecondaryColor);
  text-decoration: none;
}

footer span {
  color: var(--primaryColor);
}
/* end Footer*/

/* Start Hero */
.hero {
  background-image: url(./images/IMG_3452.JPG);
  background-size: 100% 100%;
  padding: 50px 0;
}

.hero img {
  align-items: center;
  display: flex;
  margin: auto;
  width: 40%;
}
/* end Hero */

/* intro line */
.introLine {
  font-weight: bold;
  font-size: 35px;
  background-color: var(--primaryColor);
  color: var(--altSecondaryColor);
  margin: auto;
  padding: 10px;
  text-align: center;
}
/* end intro line */

/* Start About */
.about {
  border-top: 5px solid var(--tertiaryColor);
  margin-bottom: 10px;
}

.about-img {
  width: 100%;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: Var(--secondaryColor);
  font-size: 30px;
}

.about-img-container {
  text-align: left;
  padding: 0;
  width: 100%;
}

/* end About */

/* Start Skills */
.skills {
  background-color: var(--primaryColor);
  color: var(--altSecondaryColor);
}

.skills h2 {
  color: var(--altSecondaryColor);
  width: 50% auto;
  border-top: 5px solid var(--tertiaryColor);
}

.skills p {
  padding: 20px;
}
/* end Skills */

/* Start Work */
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects {
  background-color: var(--primaryColor);
  color: var(--altSecondaryColor);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projects h2 {
  color: var(--altSecondaryColor);
  width: 50% auto;
  border-top: 5px solid var(--tertiaryColor);
  margin-bottom: 10px;
}

.projects h3 {
  color: var(--altSecondaryColor);
  font-size: 25px;
}

.myProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.myWork {
  color: var(--altSecondaryColor);
  font-size: x-large;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.myWork a {
  width: 80%;
  height: 80%;
  justify-content: center;
  
}

.myWork a img {
  width: 300px;
  height: 200px;
  border: 0.5px solid black;
  border-radius: 10%;
  box-shadow: 2px 2px 8px black;
}
/* end Work */

/* Start Contact */
.contact {
  background-color: var(--secondaryColor);
  color: var(--altSecondaryColor);
  border-top: 2px solid var(--secondaryColor);
  padding: 25px;
}

.contact h2 {
  color: var(--altSecondaryColor);
}

/* end Contact */
